{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row m-1 p-3">
    <div class="col col-11 mx-auto">
        <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center ">
          <div class="col">
              <form action="/add">
              <input class="form-control form-control-lg border-10 add-todo-input bg-transparent rounded" type="text" placeholder="Add new .."id="iname" name="item_name">
          </div>
          <div class="col-auto px-0 mx-0 mr-2">
              <button type="submit" class="btn btn-primary" formmethod="post">Add</button>
          </div>
        </form>
        </div>
    </div>
</div>

<div class="p-2 mx-4 border-black-25 border-bottom"></div>
  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4" style="list-style-type:none;">
        <!-- List the todo items here -->
        {% for item in list %}
        <li>
          <form action="/mark"> 
            {{item.title}} - <span {% if item.status == 'Completed' %} style="background-color:#00FF00" {% else %} style="background-color:#ff5959" {% endif %}>{{item.status}}</span>
            <button class="btn btn-success" type="submit" formmethod="post" formaction="/mark" value={{item.id}} name="item_id">Mark Item as 'Complete'</button>
            <button class="btn btn-danger" type="submit" formmethod="post" formaction="/rem" value={{item.id}} name="item_id">Remove Item</button><br><br>
            <form action="/mark">
          </form>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>


{% endblock %}